body{
  background-image: url("../images/fondo.png");
}

#arr{
  margin-right: 15%;
  color:black;
}

.hi{
  font-size: 25px;
}

#ha{
  font-size: 25px;
  color: black;
}

#ma{
  color:black;
}
/*Contactenos*/
#cir-j{
  margin-left: 16%;
  text-align: center;
  font-size: 15px;
}
#cir-y{
  margin-left: 34%;
  margin-right: 16%;
  text-align: center;
  font-size: 15px;
}
/* Contactenos info*/
.b{
  font-size: 15px;
  text-align: center;
}

#terms{
  background-color: #00695c;
  padding: 10px;
}


/*fondo en movimento*/
/*indicadores*/
.indicators{
  display:none;
}

/*body index*/
#base1{
  background-color: #00695c;
  margin: 0;
  padding: 40px;
}

#celular{
  width: 70%;
  margin-left: 40%;
}

#base2{
  padding: 50px;
}

.dat{
  font-size: 18px;
  font-family: sans-serif;
  margin-left: 20%;
}

#p{
  z-index: 100;
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  color: white;
  margin: 15%;
}

#im{
  z-index: 100;
  position: absolute;
  margin-top: 30%;
  margin-left: 40%;
  margin-right: 40%;
}

/*menu*/
#menu{
  z-index: 100;
  font-size: 34px;
  background: #000000;
  opacity: 0.5;
}


.side-nav{
  z-index:100;
  background-color: gray;
background-image: url(../assets/images/bars.png);
}
