/*mision y vision*/
#mis {
  color: red;
  margin-top:  14%;
  margin-left: 18%;
}
#vis{
  color: red;
  margin-top: 14%;
  margin-left: 36%;
}
#mys-txt1{
  font-size: 16px;
  background-color: pink;
  margin-top: 1%;
  margin-left: 18%;
}
#mys-txt2{
  font-size: 16px;
  background-color: pink;
  margin-top:1%;
  margin-left: 34%;
}
/*Contactenos*/
#cir-j{
  margin-top:  25%;
  margin-left: 8%;
  text-align: center;
  font-size: 20px;
}
#cir-y{
  margin-top: 25%;
  margin-left: 16%;
  text-align: center;
  font-size: 20px;
}

/*menu*/
#main{
  margin-left: 2%;
  margin-right: 2%;
  font-size: 24px;
  background-color: #212121";
}
